@page
@model Urgencias.App.FrontEnd.Pages.ListModel
@{
}<h1 class="heading__title">Lista de Pacientes</h1>

<table class="table">

            <td><b>Numero de documento</b></td>
            <td><b>Nombre</b></td>
            <td><b>Apellidos</b></td>
            <td><b>Edad</b></td>
            <td><b>Direccion</b></td>
            <td><b>Sexo</b></td>
            <td><b>Peso en Kilogramos</b></td>
            <td><b>Estatura en Centimetros</b></td>
            <td><b>Es Fumador</b></td>
            <td><b>Años fumando</b></td>
            <td><b>Tiene dieta</b></td>  

           @foreach(var paciente in Model.pacientes)
    {
        <tr>
            <td>@paciente.NumeroDeDocumento</td>
            <td>@paciente.Nombres</td>
            <td>@paciente.Apellidos</td>
            <td>@paciente.EdadEnAnos</td>
            <td>@paciente.Direccion</td> 
            <td>@paciente.Sexo</td>
            <td>@paciente.PesoEnKilogramos</td>
            <td>@paciente.EstaturaEnCentimetros</td>
            <td>@paciente.EsFumador</td>
            <td>@paciente.af</td>
            <td>@paciente.tieneDieta</td>
     
            
             
           
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Prioridad" asp-route-Id="@paciente.Id">
                <i class="btn">Prioridad Pacientes</i></a> 
            </td>
               
             <td>                
                <a class="btn btn-secundary table-btn" asp-page="./Riesgo" asp-route-Id="@paciente.Id">
                 <i class="btn">Riesgo Pacientes</i></a>
            </td>
             
             
        </tr>
    }
</table><a asp-page=".\Editar" class="btn btn-primary">Adicionar Paiente</a>

